<section class="action-buttons">
  <button mat-stroked-button color="primary" routerLink="add">Dodaj pozycje do magazynu</button>
</section>
<table class="table-details">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Ilość</th>
    <th>Cena</th>
    <th>Kategoria</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let position of positions; let rowIndex = index">
    <td>
      {{ position.id }}
    </td>
    <td>
      {{ position.product.name}}
    </td>
    <td>
      {{ position.quantity }}
    </td>
    <td>
      {{ position.price }}
    </td>
    <td>
      {{ position.product.category.name}}
    </td>
    <td>
      <button matTooltip="Aktualizuj stan magazynowy" mat-button><mat-icon>edit</mat-icon></button>
    </td>
  </tr>
</table>
