<section class="action-buttons">
  <button mat-stroked-button color="primary" routerLink="add">Dodaj dostawę</button>
</section>
<table class="table-details">
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilość w magazynie</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let warehousePosition of warehousePositions; let rowIndex = index">
    <td>
      {{ warehousePosition.id }}
    </td>
    <td>
      {{ warehousePosition.product.name}}
    </td>
    <td>
      {{ warehousePosition.price }}
    </td>
    <td>
      {{ warehousePosition.quantity }}
    </td>
    <td>
      <button (click)="removeWarehousePosition(warehousePosition.id, rowIndex)" matTooltip="Usuń pozycję magazynową" mat-button><mat-icon>delete</mat-icon></button>
      <button [routerLink]="['/', 'admin-panel', 'warehouse', 'edit', warehousePosition.id]" matTooltip="Edytuj Produkt" mat-button><mat-icon>edit</mat-icon></button>
    </td>
  </tr>
</table>
